@media screen and (max-width: 720px) {
  .wrapper {
    display: inline;
    margin: 0;

    height: 100px;
    width: 100%;
  }
  #add-new-div {
    display: none;
  }
  .left-content {
    height: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #left-header {
    padding: 5px;
  }
  #left-content {
    height: 30%;
    padding: 5px;
    margin: 0;
  }
  .right-content {
    margin: 0;
    height: 70%;
    width: 100%;
  }
  .content-break {
    display: none;
  }
  #choose-radius-div {
    padding: 5px;
  }
}
