body {
  color: #4c4d57;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

.title {
  border-bottom: solid;
  border-color: #4c4d57;
  margin: 0 auto;
  text-align: center;
}

#title-main {
  font-size: 52px;
  width: 300px;
}

#title-about {
  font-size: 42px;
  width: 160px; 
}

#title-live-site {
  font-size: 42px;
  width: 200px; 
}

#main-title-div {
  background: #4c4d57;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;

}

#about-div {
  background: url(mapbackground2.png);
  font-size: 26px;
  padding: 50px;
}

#live-site-div {
  font-size: 26px;
  padding: 50px;
}
