<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>Work In The City</title>

  <meta name='viewport' content='initial-scale=1,
  maximum-scale=1,user-scalable=no' />

  <!-- MapBox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css'
  rel='stylesheet' />

  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'
  type='text/css'>

  <!-- Leaflet.js -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

  <!-- jQuery -->
  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
  <div class="wrapper">


      <div class="left-content">

        <div id="left-header">
          <h1> RemoteMe </h1>
        </div>

        <hr class="content-break">

        <div id="choose-radius-div">
          <div class="choose-radius-div">
            <input id="choose-radius-text" type="text" 
            placeholder="radius (m) (1000m default)">
            <input id="choose-radius-address" type="text" placeholder="Address">
          </div>
          <div class="choose-radius-div">
            <button id="choose-radius-button">Search</button>
          </div>
        </div>

        <hr class="content-break">

        <div id="add-new-div">
          <h3> Add a New Place </h3>
          <div class="add-new-div">
            <input class="add-new-text" id="name"    type="text" placeholder="Name">
            <input class="add-new-text" id="address" type="text" placeholder="Address">
          </div>
          <div class="add-new-div">
            <textarea id="notes" type="textarea" placeholder="Notes"></textarea>
          </div>
          <div class="add-new-div">
            <input class="add-new-text" id="lat" type="text" placeholder="Latitude">
            <input class="add-new-text" id="lng" type="text" placeholder="Longitude">
          </div>
          <div class="add-new-div">
            <button class="add-new-button" id="generate">Generate Coordinates</button>
            <button class="add-new-button" id="add-place">Add Place</button>
          </div>
        </div>

      </div>

      <div class="right-content">
        <div id='map'>
        </div>
      </div>


  </div>

  <!-- Scripts --> 
  <script src="scripts/token.js"></script>
  <script src="scripts/scripts.js"></script>
</body>
</html>
