<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>RemoteMe</title>

  <meta name='viewport' content='initial-scale=1,
  maximum-scale=1,user-scalable=no' />

  <!-- MapBox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css'
  rel='stylesheet' />

  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'
  type='text/css'>

  <!-- Leaflet.js -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

  <!-- jQuery -->
  <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/markers.css">
  <link rel="stylesheet" tpye="text/css" href="stylesheets/mobile.css">
</head>

<body>
  <div class="wrapper">

      <!-- Left Side Options Start --> 
      <div class="left-content">

        <div id="left-header">
          <h1> RemoteMe </h1>
        </div>

        <hr class="content-break">
        
        <!-- Place Search Start -->
        <div id="choose-radius-div">
          <div class="choose-radius-div">
            <input id="choose-radius-text" type="text" 
            placeholder="radius (m) (1000m default)">
            <input id="choose-radius-address" type="text" placeholder="Address">
          </div>
          <div class="choose-radius-div">
            <button id="choose-radius-button">Search</button>
          </div>
        </div>
        <!-- Place Search End -->

        <hr class="content-break">
  
        <!-- Add New Place Start -->
        <div id="add-new-div">
          <h3> Add a New Place </h3>
          <div class="add-new-div">
            <input class="add-new-text" id="name"    type="text" placeholder="Name">
            <input class="add-new-text" id="address" type="text" placeholder="Address">
          </div>
          
          <!-- Capacity Rating Start -->
          <div class="add-new-div">
            <div class="rating-div">
              <div class="rating-button">
                <input id="capacity1" type="radio" name="rating" value="1" />
                <label for="capacity1">1</label>
              </div>
              <div class="rating-button">
                <input id="capacity2" type="radio" name="rating" value="2" />
                <label for="capacity2">2</label>
              </div>
              <div class="rating-button">
                <input id="capacity3" type="radio" name="rating" value="3" />
                <label for="capacity3">3</label>
              </div>
              <div class="rating-button">
                <input id="capacity4" type="radio" name="rating" value="4" />
                <label for="capacity4">4</label>
              </div>
              <div class="rating-button">
                <input id="capacity5" type="radio" name="rating" value="5" />
                <label for="capacity5">5</label>
              </div>
            </div>
          </div>
          <!-- Capacity Rating End -->

          <!-- Coordinate Generation and Buttons Start -->
          <div class="add-new-div">
            <input class="add-new-text" id="lat" type="text" placeholder="Latitude">
            <input class="add-new-text" id="lng" type="text" placeholder="Longitude">
          </div>
          <div class="add-new-div">
            <button class="add-new-button" id="generate">
              <span class="add-new-span">Generate</span>
              <span class="add-new-span">Coordinates</span>
            </button>
            <button class="add-new-button" id="add-place">
              <span class="add-new-span">Add</span> 
              <span class="add-new-span">Place</span>
            </button>
          </div>
          <!-- Coordinate Generation and Buttons End -->

        </div>
        <!-- Add New Place End -->

      </div>
      <!-- Left Side Options End -->


      <!-- Right Side Map Start -->
      <div class="right-content">
        <div id='map'>
        </div>
      </div>
      <!-- Right Side Map End -->


  </div>

  <!-- Scripts --> 
  <script src="scripts/token.js"></script>
  <script src="scripts/scripts.js"></script>
</body>
</html>
