@font-Raleway: 'Raleway', sans-serif;
@color-white: #EEEEEE;

html{
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font-family: @font-Raleway;
  height: 100%;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}


/* Main Wrappers Start */
.wrapper {
  display: flex;
  height: 100%;
  margin: 0;
  width: 100%;
}
  .left-content {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .right-content {
    flex: 2;
  }
    #map {
      height: 100%;
      margin: 0;
      width: 100%;
    }
/* Main Wrappers End */

/* Left Content */
#menu {
  background: red;
  flex: 1;
}

#options {
  background: green;
  flex: 1;
}
/* Left Content End */
    


